.flex{
    display: flex;
}
.aside{
    padding: 20px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    margin-bottom: 30px;
 }
 
 .nav button{
     background-color: black;
     color: white;
     padding: 10px;
     text-align: center;
 }
 
.header{
    text-align: center;
    background-color: black;
    color: white;
    height: 8vh;
    font-size: xx-large;
}
.card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
}

.product-container{
    width: 25vw;
    height: 70vh;
    box-shadow: 1px 2px 3px;
    text-align: center;
}

.product-container img{
    width: 60%;
}

.button{
    text-align: center;
}